<?xml version="1.0" encoding="utf-8"?>

<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="EMAX_Monitoring_GLUESYS" connectionString="Database=Database;Server=192.168.0.60,1433;Integrated Security=false;Initial Catalog=EMAX_Monitoring_GLUESYS;User ID=sa;Password=Root1234"/>
    <!--dataSource name="EMAX_Monitoring_GLUESYS" connectionString="Database=Database;Server=192.168.0.60,1433;Integrated Security=false;Initial Catalog=EMAX_Monitoring_JHENG_TEST;User ID=sa;Password=Root1234"/-->
    <!--dataSource name="EMAX_Monitoring_GLUESYS" connectionString="Database=Database;Server=192.168.0.60,1433;Integrated Security=false;Initial Catalog=EMAX_Monitoring_GLUESYS;User ID=sa;Password=Root1234"/-->
  </database>


</sqlMapConfig>