<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PLC_EMAX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/test1</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>나눔바른고딕;9.75</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="test">
                <SvgColor Name="Paint" Value="50,50,50" />
                <SvgColor Name="Paint High" Value="35,35,35" />
                <SvgColor Name="Paint Shadow" Value="55,55,55" />
                <SvgColor Name="Paint Deep Shadow" Value="60,60,60" />
                <SvgColor Name="Brush" Value="240,240,240" />
                <SvgColor Name="Brush High" Value="240,240,240" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="75,75,75" />
                <SvgColor Name="Brush Minor" Value="70,70,70" />
                <SvgColor Name="Accent Paint" Value="78,109,156" />
                <SvgColor Name="Accent Paint Dark" Value="62,91,135" />
                <SvgColor Name="Accent Paint Light" Value="70,70,70" />
                <SvgColor Name="Accent Paint Lighter" Value="55,55,55" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="165,186,217" />
                <SvgColor Name="Red" Value="246,71,37" />
                <SvgColor Name="Green" Value="52,166,63" />
                <SvgColor Name="Blue" Value="35,158,244" />
                <SvgColor Name="Yellow" Value="247,174,17" />
                <SvgColor Name="Black" Value="200,200,200" />
                <SvgColor Name="Gray" Value="100,100,100" />
                <SvgColor Name="White" Value="35,35,35" />
              </SvgPalette>
            </Skin>
            <Skin Name="The Bezier">
              <SvgPalette Name="test1">
                <SvgColor Name="Paint" Value="226,238,247" />
                <SvgColor Name="Paint High" Value="245,249,252" />
                <SvgColor Name="Paint Shadow" Value="222,222,222" />
                <SvgColor Name="Paint Deep Shadow" Value="Gainsboro" />
                <SvgColor Name="Brush" Value="80,80,80" />
                <SvgColor Name="Brush Light" Value="150,150,150" />
                <SvgColor Name="Brush High" Value="80,80,80" />
                <SvgColor Name="Brush Minor" Value="186,197,221" />
                <SvgColor Name="Brush Major" Value="186,197,221" />
                <SvgColor Name="Accent Paint" Value="23,107,209" />
                <SvgColor Name="Accent Paint Light" Value="191,224,255" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="81,148,224" />
                <SvgColor Name="Key Paint" Value="53,64,82" />
                <SvgColor Name="Key Brush" Value="226,238,247" />
                <SvgColor Name="Key Brush Light" Value="150,150,150" />
                <SvgColor Name="Red" Value="226,54,66" />
                <SvgColor Name="Green" Value="60,146,92" />
                <SvgColor Name="Blue" Value="58,116,194" />
                <SvgColor Name="Yellow" Value="252,169,10" />
                <SvgColor Name="Black" Value="99,99,99" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="Gray" Value="196,196,196" />
                <SvgColor Name="altRed" Value="226,54,66" />
                <SvgColor Name="altGreen" Value="60,146,92" />
                <SvgColor Name="altBlue" Value="58,116,194" />
                <SvgColor Name="altYellow" Value="252,169,10" />
                <SvgColor Name="altBlack" Value="99,99,99" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key ="DBConnstring" value="Server=192.168.0.60,1433;Integrated Security=false;Initial Catalog=EMAX_DB;User ID=sa;Password=Root1234"/>
  </appSettings>
  <userSettings>
    <PLC_EMAX.Properties.Settings>
      <setting name="chk_id" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Login_ID" serializeAs="String">
        <value />
      </setting>
    </PLC_EMAX.Properties.Settings>
  </userSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
  <add key="DpiAwareness" value="PerMonitorV2" />
</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>