<?xml version="1.0" encoding="utf-8"?>

<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="sERP_HANGIL" connectionString="Database=Database;Server=211.171.220.138,41337;Integrated Security=false;Initial Catalog=sERP_HANGIL;User ID=sa;Password=Root1234"/>
    <!--dataSource name="PLC_EMAX_GLUESYS" connectionString="Database=Database;Server=192.168.0.60,1433;Integrated Security=false;Initial Catalog=PLC_EMAX_JHENG_TEST;User ID=sa;Password=Root1234"/-->
    <!--dataSource name="PLC_EMAX_GLUESYS" connectionString="Database=Database;Server=192.168.0.60,1433;Integrated Security=false;Initial Catalog=PLC_EMAX_GLUESYS;User ID=sa;Password=Root1234"/-->
  </database>


</sqlMapConfig>